.ui.button{
  cursor:pointer;
  display:inline-block;
  min-height:1em;
  outline:0;
  border:none;
  vertical-align:baseline;
  background:#e0e1e2 none;
  color:rgba(0,0,0,.6);
  font-family:Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;margin:0 .25em 0 0;
  padding:.78571429em 1.5em .78571429em;
  text-transform:none;
  text-shadow:none;
  font-weight:700;
  line-height:1em;
  font-style:normal;
  text-align:center;
  text-decoration:none;
  border-radius:.28571429rem;
  box-shadow:0 0 0 1px transparent inset,0 0 0 0 rgba(34,36,38,.15) inset;
  user-select:none;
  will-change:'';
}

.ui.button:hover {
  background-color:#cacbcd;
  background-image:none;
  -webkit-box-shadow:0 0 0 1px transparent inset,0 0 0 0 rgba(34,36,38,.15) inset;
  box-shadow:0 0 0 1px transparent inset,0 0 0 0 rgba(34,36,38,.15) inset;color:rgba(0,0,0,.8)
}

.ui.button:hover.icon {
  opacity:.85
}

.ui.button:focus {
  background-color:#cacbcd;
  color:rgba(0,0,0,.8);
  background-image:''!important;
  -webkit-box-shadow:''!important;
  box-shadow:''!important
}

.ui.button:focus .icon {
  opacity:.85
  }

.ui.active.button:active, .ui.button:active {
  background-color:#babbbc;
  background-image:'';
  color:rgba(0,0,0,.9);
  box-shadow:0 0 0 1px transparent inset,none
}

.ui.active.button {
  background-color:#c0c1c2;
  background-image:none;
  box-shadow:0 0 0 1px transparent inset;
  color:rgba(0,0,0,.95)
  }

.ui.active.button:hover {
  background-color:#c0c1c2;
  background-image:none;
  color:rgba(0,0,0,.95)
  }
.ui.active.button:active {
  background-color:#c0c1c2;
  background-image:none
}

.header {
  display:block;
  font-family:Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  background:#fff;
  font-size: 2em;
  margin:0;
  width:75%;
  padding:1.25rem 1.5rem;
  box-shadow:none;
  color:rgba(0,0,0,.85);
  border-bottom:1px solid rgba(34,36,38,.15)
}

.ui.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.ui.modal>.header {
  display:block;
  font-family:Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  background:#fff;
  margin:0;
  width:75%;
  padding:1.25rem 1.5rem;
  box-shadow:none;
  color:rgba(0,0,0,.85);
  border-bottom:1px solid rgba(34,36,38,.15)
}
.ui.modal>.content {
  display:block;
  width:75%;
  font-size:1em;
  line-height:1.4;
  padding:2rem;
  color: #111;
  background-color: #fefefe;
  border: 1px solid #888;
  box-shadow:1px 3px 3px 0 rgba(0,0,0,.2),1px 3px 15px 2px rgba(0,0,0,.2);
  transform-origin:50% 25%;
  border-radius:.28571429rem;
}
.ui.modal>.close {
cursor:pointer;
position:absolute;
top:-2.5rem;
right:-2.5rem;
z-index:1;
opacity:.8;
font-size:1.25em;
color:#fff;
width:2.25rem;
height:2.25rem;
padding:.625rem 0 0 0
}
.ui.active.modal {
  display:block;
}
.ui.modal .scrolling.content {
  max-height:calc(80vh - 10em);
  overflow:auto
}

.ui.dimmer {
display:none;
position:absolute;
top:0!important;
left:0!important;
width:100%;
height:100%;
text-align:center;
vertical-align:middle;
padding:1em;
background-color:rgba(0,0,0,.85);
opacity:0;
line-height:1;
will-change:opacity;
z-index:1000;
opacity:1
}


.ui.form .field>.selection.dropdown {
width:100%
}
.ui.form .field>.selection.dropdown>.dropdown.icon {
float:right
}
.ui.form .inline.field>.selection.dropdown,.ui.form .inline.fields .field>.selection.dropdown {
width:auto
}
.ui.form .inline.field>.selection.dropdown>.dropdown.icon,.ui.form .inline.fields .field>.selection.dropdown>.dropdown.icon {
float:none
}
.ui.form .field.error .ui.dropdown,.ui.form .field.error .ui.dropdown .item,.ui.form .field.error .ui.dropdown .text,.ui.form .fields.error .field .ui.dropdown,.ui.form .fields.error .field .ui.dropdown .item {
background:#fff6f6;
color:#9f3a38
}
.ui.form .field.error .ui.dropdown,.ui.form .fields.error .field .ui.dropdown {
border-color:#e0b4b4!important
}
.ui.form .field.error .ui.dropdown:hover,.ui.form .fields.error .field .ui.dropdown:hover {
border-color:#e0b4b4!important
}
.ui.form .field.error .ui.dropdown:hover .menu,.ui.form .fields.error .field .ui.dropdown:hover .menu {
border-color:#e0b4b4
}
.ui.form .field.error .ui.multiple.selection.dropdown>.label,.ui.form .fields.error .field .ui.multiple.selection.dropdown>.label {
background-color:#eacbcb;
color:#9f3a38
}
.ui.form .field.error .ui.dropdown .menu .item:hover,.ui.form .fields.error .field .ui.dropdown .menu .item:hover {
background-color:#fbe7e7
}
.ui.form .field.error .ui.dropdown .menu .selected.item,.ui.form .fields.error .field .ui.dropdown .menu .selected.item {
background-color:#fbe7e7
}
.ui.form .field.error .ui.dropdown .menu .active.item,.ui.form .fields.error .field .ui.dropdown .menu .active.item {
background-color:#fdcfcf!important
}

.consoles {
  width: 10%
}
