* {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 10vmin; /* Size of spinning logo */
}

/* App-header contains the App-logo */
.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

ul.nav li {
  display: inline;
  list-style-type: none;
  margin: 0;
}
ul.nav {
  background-color: #111;
  padding: 0;
}
ul.nav li a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}
ul.nav :hover {
  background: #56abf0;
}

.active {
  background-color: #4980c9;
}

.content {
  /*border:3px solid #000055;*/
  width: 75%;
  height: 250px;
  margin: auto;
}

.ui.circular.button {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    padding: 0;
    font-size : 20px;
}

.ui.circular.button:hover {
  background-color:#cacbcd;
  background-image:none;
}
